<div style="width: 100%; box-sizing: border-box; padding: 15px; background-color: #f8f9fa;">

  <div style="display: flex; justify-content: flex-end; gap: 10px; margin-bottom: 15px;">
    
 

     <button
        mat-raised-button
        style="background-color: #2196f3; color: white; padding: 10px 16px; height: 45px; border: none; border-radius: 4px; display: flex; align-items: center; gap: 6px; font-weight: 500; cursor: pointer;"
      (click)="ontarget()">
        <mat-icon class="mt-1" style="font-size: 18px; height: 18px; width: 18px;">
          add
        </mat-icon>
        Add Target
      </button>

     <button mat-raised-button class="mat-focus-indicator mat-raised-button mat-button-base" style="background-color: #808080; color: white; margin-right: 10px;">
        <span class="mat-button-wrapper" (click)="goBack()">
          <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">arrow_back</mat-icon> Back 
        </span>
      </button>

  </div>

  

  <div class="content-layout">
    
<div class="sidebar-menu">

  <button
    mat-raised-button
    [ngClass]="{'active-tab': activeTab === 'process', 'inactive-tab': activeTab !== 'process'}"
    (click)="setTab('process')">
    Process Audits
  </button>

  <button
    mat-raised-button
    [ngClass]="{'active-tab': activeTab === 'parts', 'inactive-tab': activeTab !== 'parts'}"
    (click)="setTab('parts')">
    Parts Audits
  </button>

</div>

    <div class="grid-container">
      <table class="custom-grid-table">
        <thead>
          <tr>
            <th>Year</th>
            <th>Q1</th>
            <th>Q2</th>
            <th>Q3</th>
            <th>Q4</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of currentGridData">
            <td>{{ row.year }}</td>
            <td>{{ row.q1 }}</td>
            <td>{{ row.q2 }}</td>
            <td>{{ row.q3 }}</td>
            <td>{{ row.q4 }}</td>
            <td class="action-cell text-center"> <mat-icon class="edit-icon" matTooltip="Edit" (click)="addtarget(1)" style="color: blue; padding-right: 10px;">edit</mat-icon> 
          <mat-icon class="delete-icon" matTooltip="Delete" style="color: red; padding: 5px;">delete</mat-icon></td>
          </tr>

          <tr class="empty-row"><td colspan="6"></td></tr>
          <tr class="empty-row"><td colspan="6"></td></tr>
          <tr class="empty-row"><td colspan="6"></td></tr>
          <tr class="empty-row"><td colspan="6"></td></tr>
        </tbody>
      </table>
    </div>

</div>