.margins {
    margin-bottom: 12px;
  }
  .newMarginClass {
    margin-top: 7px !important;
  }
  
  .confirm-btn-container .btn {
    width: 100px !important;
    margin-left: 10px;
  } 

  .disabled-action {
  color: gray !important;
  opacity: 0.6;
  cursor: not-allowed !important;
}
