<div class="custom-modal-wrapper">
  <div class="modal-header-custom">
    <h2 class="modal-title-text">
      CAPA Items for Observation {{ observationRef }}
    </h2>
    <button type="button" class="modal-close-icon btn btn-link p-0 text-white" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content class="modal-body-custom">
    <div class="table-responsive mt-1">
      <table class="table table-bordered table-hover table-striped align-middle">
        <thead class="table-dark">
          <tr>
            <th>Category</th>
            <th class="text-center">Function</th>
            <th class="text-center">Observation Ref</th>
            <th class="text-center">Severity</th>
            <th class="text-center">Date Initiated</th>
            <th class="text-center">Date Resolved</th>
            <th class="text-center">Resolved</th>
            <th class="text-center">TAT</th>
            <th width="100" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of capaList">
            <td>{{ item.category }}</td>
            <td class="text-center">{{ item.function }}</td>
            <td class="text-center"><b>{{ item.observationRef }}</b></td>
            <td class="text-center">
              <span class="badge" [ngClass]="item.severity === 'High' ? 'bg-danger' : 'bg-warning text-dark'">
                {{ item.severity }}
              </span>
            </td>
            <td class="text-center">{{ item.dateInitiated }}</td>
            <td class="text-center">{{ item.dateResolved }}</td>
            <td class="text-center">
              <mat-checkbox [(ngModel)]="item.resolved"></mat-checkbox>
            </td>
            <td class="text-center">{{ item.tat }}</td>
            <td class="text-center">
              <i class="fa fa-edit text-primary me-2 pointer"></i>
              <i class="fa fa-trash text-danger pointer"></i>
            </td>
          </tr>
          <tr *ngIf="capaList.length === 0">
            <td colspan="9" class="text-center text-muted py-3">No CAPA items linked yet.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <mat-dialog-actions align="end" class="modal-actions-custom">
    <button mat-raised-button class="btn-default" (click)="close()">
      <mat-icon class="btn-icon">cancel</mat-icon><span class="btn-label">Close</span>
    </button>
    <button mat-raised-button color="primary" (click)="save()">
      <mat-icon class="btn-icon">save</mat-icon><span class="btn-label">Save</span>
    </button>
  </mat-dialog-actions>
</div>