<div class="col-sm-12 mt-5">
  <div>
    <button mat-raised-button color="primary" style="margin-bottom: 10px;" class="pull-right"
      (click)="addchecklistaudit(null)">
      <mat-icon>person_add</mat-icon> Add Audit
    </button>
    <button style="margin-bottom: 7px" mat-raised-button class="pull-right filters-hover margin-right-10 "
      style="background-color: black; color: white" (click)="filterToggle = !filterToggle">
      <mat-icon>filter_list</mat-icon> Filter
    </button>
  </div>


  <!-- Filter UI Design -->

  <div fxLayout="row wrap" *ngIf="filterToggle">
                <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
                    <mat-card class="filter" style="margin-top: 50px;">
                     <mat-card-content>
  <div class="row">
    <div class="col-sm-4">
      <div class="col-sm-4">
        <label class="pull-right" style="margin-top: 6px;">Start Date:</label>
      </div>
      <div class="col-sm-8">
        <input type="date" placeholder="Start Date" class="form-control">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-4">
        <label class="pull-right" style="margin-top: 6px;">End Date:</label>
      </div>
      <div class="col-sm-8">
        <input type="date" placeholder="End Date" class="form-control">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-4">
        <label class="pull-right" style="margin-top: 6px;">Audit Type:</label>
      </div>
      <div class="col-sm-8">
        <mat-select class="form-control" placeholder="Select Audit Type" required>
          <mat-option [value]="0">Process Audit</mat-option>
          <mat-option [value]="1">Product Audit</mat-option>
          <mat-option [value]="2">System Audit</mat-option>
          <mat-option [value]="3">Layered Audit</mat-option>
          <mat-option [value]="4">Safety Audit</mat-option>
        </mat-select>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top:10px !important">
    <div class="col-sm-4">
      <div class="col-sm-4">
        <label class="pull-right" style="margin-top: 6px;">Location:</label>
      </div>
      <div class="col-sm-8">
        <mat-select class="form-control" placeholder="Select Location">
          <mat-option value="Bidadi Auto Facility - Plant 1">Bidadi Auto Facility - Plant 1</mat-option>
          <mat-option value="Sriperumbudur Car Assembly">Sriperumbudur Car Assembly</mat-option>
          <mat-option value="Chakan Auto Mega Facility">Chakan Auto Mega Facility</mat-option>
          <mat-option value="Sanand Passenger Car Plant">Sanand Passenger Car Plant</mat-option>
          <mat-option value="Manesar Automotive Facility">Manesar Automotive Facility</mat-option>
          <mat-option value="Anantapur Greenfield Plant">Anantapur Greenfield Plant</mat-option>
        </mat-select>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="col-sm-4">
        <label class="pull-right" style="margin-top: 6px;">Transmission:</label>
      </div>
      <div class="col-sm-8">
        <mat-select class="form-control" placeholder="Select Transmission">
          <mat-option value="6-Speed AT">6-Speed Torque Converter AT</mat-option>
          <mat-option value="7-Speed DCT">7-Speed Dual-Clutch (DCT)</mat-option>
          <mat-option value="e-CVT">Electronic CVT (e-CVT)</mat-option>
          <mat-option value="6-Speed iMT">6-Speed Intelligent Manual (iMT)</mat-option>
          <mat-option value="Single-Speed EV">Single-Speed Reduction EV</mat-option>
          <mat-option value="6-Speed AWD">6-Speed AWD with Lock</mat-option>
        </mat-select>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="col-sm-4">
        <label class="pull-right" style="margin-top: 6px;">Fuel Type:</label>
      </div>
      <div class="col-sm-8">
        <mat-select class="form-control" placeholder="Select Fuel Type">
          <mat-option value="Diesel BS-VI">Diesel BS-VI (SCR AdBlue)</mat-option>
          <mat-option value="Petrol TGDi">Petrol Turbo (TGDi)</mat-option>
          <mat-option value="Strong Hybrid">Strong Hybrid (SHEV)</mat-option>
          <mat-option value="BEV Electric">Battery Electric (BEV 400V)</mat-option>
        </mat-select>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top:10px !important">
    <div class="col-sm-4">
      <div class="col-sm-4">
        <label class="pull-right" style="margin-top: 6px;">Model:</label>
      </div>
      <div class="col-sm-8">
        <mat-select class="form-control" placeholder="Select Model">
          <mat-option value="Toyota Fortuner 4x4">Toyota Fortuner 4x4</mat-option>
          <mat-option value="Toyota Camry Hybrid">Toyota Camry Hybrid</mat-option>
          <mat-option value="Hyundai Creta SX">Hyundai Creta SX</mat-option>
          <mat-option value="Hyundai Verna Turbo">Hyundai Verna Turbo</mat-option>
          <mat-option value="Mahindra XUV700 AX7">Mahindra XUV700 AX7</mat-option>
          <mat-option value="Tata Safari Dark Edition">Tata Safari Dark Edition</mat-option>
          <mat-option value="Tata Nexon EV Max">Tata Nexon EV Max</mat-option>
          <mat-option value="Honda Elevate ZX">Honda Elevate ZX</mat-option>
        </mat-select>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="col-sm-4">
        <label class="pull-right" style="margin-top: 6px;">Variant:</label>
      </div>
      <div class="col-sm-8">
        <mat-select class="form-control" placeholder="Select Variant">
          <mat-option value="ZX 4x4 AT">ZX 4x4 AT (2.8L Diesel)</mat-option>
          <mat-option value="Dynamic Hybrid e-CVT">Dynamic Hybrid e-CVT (2.5L)</mat-option>
          <mat-option value="SX(O) Turbo 7-DCT">SX(O) Turbo 7-DCT (1.5L TGDi)</mat-option>
          <mat-option value="AX7 AWD Luxury Pack">AX7 Luxury Pack AWD (Diesel AT)</mat-option>
          <mat-option value="Accomplished+ 6S">Accomplished+ 6S Dark (Diesel AT)</mat-option>
          <mat-option value="Empowered+ LR">Empowered+ LR (40.5 kWh EV)</mat-option>
        </mat-select>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="col-sm-4">
        <label class="pull-right" style="margin-top: 6px;">Stage Name:</label>
      </div>
      <div class="col-sm-8">
        <mat-select class="form-control" placeholder="Select Stage">
          <mat-option value="BIW">Body-in-White & Framing (BIW)</mat-option>
          <mat-option value="CED">Cathodic Electrodeposition (CED Paint)</mat-option>
          <mat-option value="DOC">Powertrain Docking & Marriage</mat-option>
          <mat-option value="TCF">Trim, Chassis & Final Assembly (TCF)</mat-option>
          <mat-option value="CAL">Wheel Alignment & ADAS Calibration</mat-option>
          <mat-option value="RLR">Chassis Dyno & Roller Brake Test</mat-option>
          <mat-option value="SHW">Monsoon Shower & Water Ingress</mat-option>
          <mat-option value="PDI">Pre-Delivery Inspection (PDI)</mat-option>
        </mat-select>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 16px;">
    <div class="col-12 d-flex justify-content-end align-items-center gap-3">
      <button mat-raised-button color="primary" (click)="getTests()">
        <mat-icon>search</mat-icon> Search
      </button>

      <button mat-raised-button class="btn-default" (click)="clearFilter(); getTests()">
        <mat-icon>settings_backup_restore</mat-icon> Clear
      </button>

      <a (click)="filterToggle = !filterToggle" style="font-size: 25px; cursor: pointer;">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</mat-card-content>

                    </mat-card>
                </div>

            </div>


  <div id="grid-table-container tableScroll" class="table-responsive" style="width: 100%;">
    <table matSort id="example2" class="table table-bordered table-hover data-table">
      <thead class="tbl-head">
        <tr>
          <th class="theadcolor text-center">Actions</th>
          <th class="theadcolor text-center">Status</th>
          <th class="theadcolor">VIN</th>
          <th class="theadcolor">Target</th>
          <th class="theadcolor">Audit Type</th>
          <th class="theadcolor">Checkpoints</th>
          <th class="theadcolor">Location</th>
          <th class="theadcolor">Auditor</th>
          <th class="theadcolor">Model</th>
          <th class="theadcolor">Colour</th>
          <th class="text-center">Transmission</th>
          <th class="text-center">Fuel Type</th>
          <th class="text-center"> Start Date</th>
          <th class="text-center"> End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of values">
          <td class="text-center editDel"
            style="display: flex; justify-content: center; align-items: center; gap: 10px;">
            <a style="cursor: pointer;" matTooltip="Edit" (click)="addchecklistaudit(item)">
              <i class="fa fa-edit" style="color: cornflowerblue"></i>
            </a>
            <a style="cursor: pointer;" matTooltip="Delete" (click)="deleteConfirmation(item)">
              <i class="fa fa-trash red"></i>
            </a>
            <mat-icon matTooltip="Unarchive" style="cursor: pointer; color: cornflowerblue;">
              archive
            </mat-icon>
          </td>
          <td class="text-center">
            <mat-select class="form-control" [(ngModel)]="item.Status" placeholder="Select Status">
              <mat-option value="Open">Pending</mat-option>
              <mat-option value="In Progress">Draft</mat-option>
              <mat-option value="Hold">Done</mat-option>
            </mat-select>
          </td>
          <td>{{item.VIN}}</td>
          <td class="text-center">{{item.Taget}}</td>
          <td>{{item.AuditType}}</td>
          <td class="text-center">
            <a (click)="opencheckpoint(item)" style="color: cornflowerblue;cursor: pointer;">{{item.Checkpoints}}</a>
          </td>
          <td>{{item.Location}}</td>
          <td>{{item.Auditor}}</td>
          <td>{{item.Model}}</td>
          <td class="text-center">{{item.Colour}}</td>
          <td class="text-center">{{item.Transmission}}</td>
          <td class="text-center">{{item.Fuel_Type}}</td>
          <td class="text-center">{{item.Date}}</td>
          <td class="text-center">{{item.Date1}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="grid-footer">
    <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons>
    </mat-paginator>

    <div class="scroll-buttons ">
      <button class="mine" mat-fab (click)="scrollRight()">
        <mat-icon style="color: #37474f">fast_forward</mat-icon>
      </button>
      <button class="mine" mat-fab style="margin-right: 78px !important" (click)="scrollLeft()">
        <mat-icon style="color: #37474f">fast_rewind</mat-icon>
      </button>
    </div>
  </div>
</div>