.keyword-text {
    font-weight: bold;
    font-size: 12px; /* Adjust the font size as needed */
  }.keyword-text {
    font-weight: bold;
    font-size: 12px; /* Adjust the font size as needed */
  }
 