textarea {
  width: 100% !important;
  max-width: 100%;
}

.btn-footer-space {
  margin-bottom: 20px;
}

.footer-actions {
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.tbl-head th,
.theadcolor {
  background-color: #3f3f3f !important;
  color: white !important;
}

table td {
  vertical-align: middle;
}
