<div class="custom-modal-wrapper">
  <div class="modal-header-custom">
    <h2 class="modal-title-text">
      {{ data ? 'Edit Dispatched Part' : 'Add Dispatched Part' }}
    </h2>
    <button type="button" class="modal-close-icon" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content class="modal-body-custom">
    <form class="form-horizontal">

      <div class="row align-items-center mb-3">
        <label class="col-sm-3 control-label">
          Part Number <span class="text-danger">*</span> :
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="e.g. FD-001"
                 [(ngModel)]="partNumber" name="partNo" required autofocus />
        </div>
      </div>

      <div class="row align-items-center mb-3">
        <label class="col-sm-3 control-label">
          Part Name <span class="text-danger">*</span> :
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="e.g. Engine Control Module (ECM)"
                 [(ngModel)]="partName" name="partName" required />
        </div>
      </div>

      <div class="row align-items-center mb-3">
        <label class="col-sm-3 control-label">
          Remarks :
        </label>
        <div class="col-sm-9">
          <textarea rows="2" class="form-control" placeholder="Failure symptoms or defect notes..."
                    [(ngModel)]="remarks" name="dispRemarks"></textarea>
        </div>
      </div>

    </form>
  </div>

  <div class="modal-footer-custom">
    <button mat-button class="btn-cancel-modal" (click)="close()">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
    <button mat-raised-button class="btn-save-modal" (click)="save()" [disabled]="!partNumber || !partName">
      <mat-icon>save</mat-icon> {{ data ? 'Update' : 'Save' }}
    </button>
  </div>
</div>
