<div class="col-lg-12 main-container">

    <div class="top-bar">
        <div class="switchToggle">
            <input type="checkbox" id="maskInactiveSwitch" [(ngModel)]="maskInactive">
            <label for="maskInactiveSwitch"></label>
        </div>

        <button mat-raised-button class="black-btn"
            (click)="filterToggle = !filterToggle">
            <mat-icon>filter_list</mat-icon> Filter
        </button>

        <button mat-raised-button color="primary" (click)="openCAPA(null)">
            <mat-icon>add</mat-icon> Add CAPA
        </button>
    </div>

    <div class="col-lg-12 filter-section" fxLayout="row wrap" *ngIf="filterToggle">
        <div fxFlex="100" class="flex-p w-100">
            <form (ngSubmit)="applyFilter()">
                <mat-card class="filter filter-card">
                    <mat-card-content>
                        <div class="row col-lg-12 col-sm-12">

                            <div class="col-sm-4 row me-2 mt-3">
                                <div class="col-sm-3 newMarginClass"><b>Keyword:</b></div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Enter Keyword" [(ngModel)]="filterKeyword" name="keyword" />
                                </div>
                            </div>

                            <div class="col-sm-4 row me-2 mt-3">
                                <div class="col-sm-3 newMarginClass"><b>Role:</b></div>
                                <div class="col-sm-9">
                                    <mat-select placeholder="Select Role" class="form-control" [(ngModel)]="filterRole" name="role">
                                        <mat-option value="">All Roles</mat-option>
                                        <mat-option value="Shop Head">Shop Head</mat-option>
                                        <mat-option value="Shift Manager">Shift Manager</mat-option>
                                        <mat-option value="QA Lead">QA Lead</mat-option>
                                        <mat-option value="Plant Quality Head">Plant Quality Head</mat-option>
                                    </mat-select>
                                </div>
                            </div>

                            <div class="col-sm-4 row me-2 mt-3">
                                <div class="col-sm-3 newMarginClass"><b>Department:</b></div>
                                <div class="col-sm-9">
                                    <mat-select placeholder="Select Department" class="form-control" [(ngModel)]="filterDepartment" name="department">
                                        <mat-option value="">All Departments</mat-option>
                                        <mat-option value="Production">Production</mat-option>
                                        <mat-option value="QA">QA</mat-option>
                                        <mat-option value="Maintenance">Maintenance</mat-option>
                                        <mat-option value="R&D">R&D</mat-option>
                                        <mat-option value="Incoming Inspection">Incoming Inspection</mat-option>
                                    </mat-select>
                                </div>
                            </div>

                            <div class="col-sm-4 row me-2 mt-3">
                                <div class="col-sm-3 newMarginClass"><b>Status:</b></div>
                                <div class="col-sm-9">
                                    <mat-select placeholder="Select Status" class="form-control" [(ngModel)]="filterStatus" name="status">
                                        <mat-option value="">All Statuses</mat-option>
                                        <mat-option value="Open">Open</mat-option>
                                        <mat-option value="Pending">Pending</mat-option>
                                        <mat-option value="WIP">WIP</mat-option>
                                        <mat-option value="Closed">Closed</mat-option>
                                    </mat-select>
                                </div>
                            </div>

                            <div class="col-sm-4 row me-2 mt-3">
                                <div class="col-sm-3 newMarginClass"><b>From Date:</b></div>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-4 row me-2 mt-3">
                                <div class="col-sm-3 newMarginClass"><b>To Date:</b></div>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-12 pull-right mt-3 filter-actions">
                                <a (click)="filterToggle = !filterToggle" class="pull-right toggle-icon">
                                    <i class="fa fa-angle-double-up"></i>
                                </a>

                                <button type="button" mat-raised-button class="pull-right btn-default margin-right-10"
                                    (click)="clearFilter()">
                                    <mat-icon>settings_backup_restore</mat-icon> Clear
                                </button>

                                <button type="submit" mat-raised-button color="primary" class="pull-right margin-right-10">
                                    <mat-icon>search</mat-icon> Search
                                </button>
                            </div>

                        </div>
                    </mat-card-content>
                </mat-card>
            </form>
        </div>
    </div>

    <div class="col-sm-12 table-wrapper">
        <div class="table-responsive" id="grid-table-container">
            <table class="table table-bordered table-hover">

                <thead class="tbl-head">
                    <tr>
                        <th class="text-center" width="70">Actions</th>
                        <th class="text-center" width="130" style="min-width: 130px;">Status</th>
                        <th class="nowrap" width="280" style="min-width: 280px;">Complaint (Reference)</th>
                        <th class="nowrap text-center" width="110">Meeting Ref</th>
                        <th>Role</th>
                        <th>Department</th>
                        <th>Subject</th>
                        <th>Description</th>
                        <th class="nowrap text-center" width="105">Due Date</th>
                        <th class="nowrap text-center" width="105">ETA Date</th>
                        <th class="nowrap text-center" width="115">Completed Date</th>
                        <th class="text-center nowrap" width="70">Done</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of data">
                        <td class="nowrap text-center">
                            <a matTooltip="Edit CAPA" (click)="openCAPA(item)" class="pointer me-2">
                                <i class="fa fa-edit text-primary"></i>
                            </a>
                            <a matTooltip="Delete CAPA" (click)="deleteConfirmation(item)" class="pointer">
                                <i class="fa fa-trash red"></i>
                            </a>
                        </td>

                        <td class="text-center" style="min-width: 130px;">
                            <select class="form-select small-select" [(ngModel)]="item.status" (change)="onStatusChange(item)">
                                <option value="Open">Open</option>
                                <option value="Pending">Pending</option>
                                <option value="WIP">WIP</option>
                                <option value="Closed">Closed</option>
                            </select>
                        </td>

                        <td style="min-width: 280px; max-width: 330px; line-height: 1.45;">
                            <ng-container *ngFor="let word of item.title.split(' '); let i = index">
                                <span [ngClass]="{'clickable': i === 0}"
                                    (click)="i === 0 && goToAddComplaint()">
                                    {{ word }}
                                </span>
                                &nbsp;
                            </ng-container>
                        </td>

                        <td class="link text-center">{{ item.meetingRef }}</td>
                        <td>{{ item.role }}</td>
                        <td>{{ item.department }}</td>
                        <td class="fw-semibold">{{ item.issue }}</td>
                        <td>{{ item.details }}</td>
                        <td class="nowrap red-due-date text-center">{{ item.date }}</td>
                        <td class="nowrap text-center">{{ item.eta || '-' }}</td>
                        <td class="nowrap text-center">{{ item.completedDate || '-' }}</td>
                        <td class="text-center">
                            <input type="checkbox" class="form-check-input pointer" style="cursor: pointer; transform: scale(1.15);"
                                   [(ngModel)]="item.done" (change)="onDoneToggle(item)" />
                        </td>
                    </tr>
                </tbody>

            </table>

            <mat-paginator [length]="totalSize" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 50, 100]"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>

</div>