<div class="NewHeader">
  <h1 mat-dialog-title>
    Add Document
  </h1>
</div>











<!-- Form -->
<div class="form-body">

  <!-- Document Title -->
  <div class="form-row">
    <label>Document Title: <span class="req">*</span></label>
    <input type="text" class="custom-input" placeholder="Enter Document Title">
  </div>

  <!-- Document Type -->
  <div class="form-row">
    <label>Document Type: <span class="req">*</span></label>

    <select class="custom-input">

      <option>Containment Log</option>
      <option>Quality Alert</option>
      <option>Non-Conformance Report (NCR)</option>
    </select>
  </div>

  <!-- Upload -->
  <div class="form-row">
    <label>Upload Document: <span class="req">*</span></label>

    <div class="upload-box">
      <p>Drag and drop files here</p>

      <button type="button" class="browse-btn" (click)="fileInput.click()">
        Browse Files
      </button>

      <input type="file" #fileInput hidden (change)="onFileSelected($event)">
    </div>
  </div>

</div>

<!-- Footer Buttons -->



























<!-- <button mat-raised-button (click)="close(data)" class="mr-2" type="button"
                style="color: rgb(7, 10, 7); background-color: #e0e0e0; margin-right: 10px;">
                Back
            </button> -->
<!-- <button mat-raised-button class="" type="button" (click)="close()"
  style="color: rgb(7, 10, 7); background-color: #e0e0e0; margin-left:8.5cm;">
  <mat-icon>cancel</mat-icon>Cancel
</button>

<button mat-raised-button class=" pull-right vamshi" type="button"
  style="color: rgb(251, 253, 251); background-color:rgb(10, 93, 182);">
  <mat-icon>save</mat-icon>
  Save
</button> -->

<div class="btn-container">
  <button mat-raised-button type="button" (click)="close()" class="cancel-btn">
    <mat-icon>cancel</mat-icon> Cancel
  </button>

  <button mat-raised-button type="button" class="save-btn" style="background-color:rgb(10, 93, 182);color: rgb(251, 253, 251)"  >
    <mat-icon>save</mat-icon> Save
  </button>
</div>