<div class="col-sm-12" style="
    max-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  ">
    <div class="NewHeader">
        <h1 style="color: white; margin-top:5px" mat-dialog-title>
            {{ data ? "Update" : "Add" }} Country
        </h1>
    </div>
    <div mat-dialog-content>
        <form class="form-horizontal">
            <!-- Complaint -->
              <div class="form-group" style="margin-top: 20px">
                <label class="control-label col-sm-4 "> Continent:
                </label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <mat-select placeholder="Select continent" class="form-control" required>
                        <mat-option value="Africa">Africa</mat-option>
                        <mat-option value="Antarctica">Antarctica</mat-option>
                        <mat-option value="Asia">Asia</mat-option>
                        <mat-option value="Australia">Australia</mat-option>
                        <mat-option value="Europe">Europe</mat-option>
                        <mat-option value="North America">North America</mat-option>
                        <mat-option value="South America">South America</mat-option>
                    </mat-select>
                </div>
            </div>  
            <div class="form-group" style="margin-top: 20px">
                <label class="control-label col-sm-4 "> Country:
                </label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <input type="text" class="form-control" placeholder="Enter Country" />
                </div>
            </div>
           




        </form>
    </div>
    <mat-dialog-actions align="end">
        <div class="margin-bottom-10" style="margin-top: 30px; margin-right: -3px; margin-bottom: 11px;">
            <button mat-raised-button color="primary" [mat-dialog-close]="'test'">
                <mat-icon style="font-size:20px" class="mt-1">save</mat-icon> <span style="margin-left: 5px;">{{ data ?
                    "Update" : "Save" }}</span>
            </button>
            <button mat-raised-button style="background-color: lightgray; color: red" class="add-dark-hover btn-default"
                (click)="close()">
                <mat-icon>cancel</mat-icon>Close
            </button>
        </div>
    </mat-dialog-actions>
</div>