<div class="section-wrapper mt-3">
  <div class="container-fluid px-4">
    <!-- Dispatch Info (Non-repeating per transcript) -->
    <div class="row g-4 mt-1">
      <div class="col-md-3">
        <label class="form-label"><b>From (Dealer):</b></label>
        <input type="text" class="form-control" [(ngModel)]="fromDealer">
      </div>
      <div class="col-md-3">
        <label class="form-label"><b>To (Factory):</b></label>
        <input type="text" class="form-control" [(ngModel)]="toFactory">
      </div>
      <div class="col-md-3">
        <label class="form-label"><b>Tracking No:</b></label>
        <input type="text" class="form-control" [(ngModel)]="trackingNo">
      </div>
      <div class="col-md-3">
        <label class="form-label"><b>Dispatch Date:</b></label>
        <input type="date" class="form-control" [(ngModel)]="dispatchDate">
      </div>
    </div>

    <!-- Parts Table (part number, part name, remarks, actions) -->
    <div class="mt-4">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h5 class="table-title">Dispatched Parts</h5>
        <button mat-raised-button color="primary" class="btn-sm" (click)="openDispatchDialog()">
          <mat-icon class="btn-icon">add</mat-icon> Add Part
        </button>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="tbl-head">
            <tr>
              <th>Part No</th>
              <th>Part Name</th>
              <th>Remarks</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of parts">
              <td>{{ p.partNo }}</td>
              <td>{{ p.partName }}</td>
              <td>{{ p.remarks || '-' }}</td>
              <td class="text-center">
                <a matTooltip="Edit" class="action-btn-link" (click)="openDispatchDialog(p)"><i class="fa fa-edit"></i></a>
                <a matTooltip="Delete" class="action-btn-link" (click)="deletePart(p)"><i class="fa fa-trash red"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <label class="form-label"><b>Dispatch Remarks:</b></label>
        <textarea rows="3" class="form-control" placeholder="Additional dispatch notes..." [(ngModel)]="remarks"></textarea>
      </div>
      <div class="col-12 d-flex justify-content-end mt-3">
        <button mat-raised-button color="primary" class="save-btn" (click)="save()">
          <mat-icon class="btn-icon">save</mat-icon> Save
        </button>
      </div>
    </div>
  </div>
</div>
