<div class="NewHeader">
    <h1 mat-dialog-title>
        {{data ? 'Update' : 'Add'}} Line Item
    </h1>
</div>
<div mat-dialog-content>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Category : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <mat-select class="form-control" [(ngModel)]="category" name="category" placeholder="Select Category" required>
                    <mat-option value="Exterior">Exterior</mat-option>
                    <mat-option value="Interior">Interior</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Checkpoint: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <mat-select class="form-control" [(ngModel)]="checkpoint" name="checkpoint" placeholder="Select Checkpoint" required>
                    <mat-option value="1A - HOOD TO FRONT GRILL - GAP">1A - HOOD TO FRONT GRILL - GAP</mat-option>
                    <mat-option value="1B - FRONT DASHBOARD TO LEATHER - GAP">1B - FRONT DASHBOARD TO LEATHER - GAP</mat-option>
                    <mat-option value="1C - TAILGATE TRIM TO PANEL - GAP">1C - TAILGATE TRIM TO PANEL - GAP</mat-option>
                    <mat-option value="2A - DOOR TO FENDER - FLUSH">2A - DOOR TO FENDER - FLUSH</mat-option>
                    <mat-option value="3A - TAILGATE TO GLASS - PARALLELISM">3A - TAILGATE TO GLASS - PARALLELISM</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Measure: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <mat-select class="form-control" [(ngModel)]="measure" name="measure" placeholder="Select Measure" required>
                    <mat-option value="GAP">GAP</mat-option>
                    <mat-option value="Flush">Flush</mat-option>
                    <mat-option value="Parallelism">Parallelism</mat-option>
                    <mat-option value="Alignment">Alignment</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Grid Row (1-8): </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="number" min="1" max="8" class="form-control" [(ngModel)]="row" name="row" placeholder="Grid Row (1-8)">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Grid Column (1-11): </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="number" min="1" max="11" class="form-control" [(ngModel)]="col" name="col" placeholder="Grid Column (1-11)">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">LSL (mm): </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" [(ngModel)]="lsl" name="lsl" placeholder="Lower Spec Limit (e.g. 0.20)">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">USL (mm): </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" [(ngModel)]="usl" name="usl" placeholder="Upper Spec Limit (e.g. 1.25)">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Actual Value (mm): </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" [(ngModel)]="value" name="value" placeholder="Measured Value (e.g. 0.85)">
            </div>
        </div>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button class="btn-primary" (click)="save()">
        <mat-icon>save</mat-icon><span>{{data ? 'Update' : 'Save'}}</span>
    </button>
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()" style="background-color: lightgray; color: red;">
        <mat-icon>cancel</mat-icon>Close
    </button>
</mat-dialog-actions>