<div class="NewHeader">
    <h1 mat-dialog-title>
        {{data ? 'Update' : 'Add'}} Subjective Audit
    </h1>
</div>
<div mat-dialog-content>
    <form class="form-horizontal">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label col-sm-4 add-member-label">VIN : </label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <input type="text" class="form-control" placeholder="Enter VIN">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 add-member-label">Audit Type: </label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <mat-select class="form-control" placeholder="Select Audit Type" required>
                        <mat-option [value]="0">D-Rating</mat-option>
                        <mat-option [value]="1">C-Rating</mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 add-member-label">Location: </label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <mat-select class="form-control" placeholder="Select Location" required>
                        <mat-option value="Bidadi Auto Facility - Plant 1">Bidadi Auto Facility - Plant 1</mat-option>
                        <mat-option value="Sriperumbudur Car Assembly">Sriperumbudur Car Assembly</mat-option>
                        <mat-option value="Chakan Auto Mega Facility">Chakan Auto Mega Facility</mat-option>
                        <mat-option value="Sanand Passenger Car Plant">Sanand Passenger Car Plant</mat-option>
                        <mat-option value="Manesar Automotive Facility">Manesar Automotive Facility</mat-option>
                        <mat-option value="Anantapur Greenfield Plant">Anantapur Greenfield Plant</mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 add-member-label">Model: </label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <mat-select class="form-control" placeholder="Select Model" required>
                        <mat-option value="Toyota Fortuner 4x4">Toyota Fortuner 4x4</mat-option>
                        <mat-option value="Toyota Camry Hybrid">Toyota Camry Hybrid</mat-option>
                        <mat-option value="Hyundai Creta SX">Hyundai Creta SX</mat-option>
                        <mat-option value="Hyundai Verna Turbo">Hyundai Verna Turbo</mat-option>
                        <mat-option value="Mahindra XUV700 AX7">Mahindra XUV700 AX7</mat-option>
                        <mat-option value="Tata Safari Dark Edition">Tata Safari Dark Edition</mat-option>
                        <mat-option value="Tata Nexon EV Max">Tata Nexon EV Max</mat-option>
                        <mat-option value="Honda Elevate ZX">Honda Elevate ZX</mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 add-member-label">Variant: </label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <mat-select class="form-control" placeholder="Select Variant" required>
                        <mat-option value="ZX 4x4 AT">ZX 4x4 AT (2.8L Diesel)</mat-option>
                        <mat-option value="Dynamic Hybrid e-CVT">Dynamic Hybrid e-CVT (2.5L)</mat-option>
                        <mat-option value="SX(O) Turbo 7-DCT">SX(O) Turbo 7-DCT (1.5L TGDi)</mat-option>
                        <mat-option value="AX7 AWD Luxury Pack">AX7 Luxury Pack AWD (Diesel AT)</mat-option>
                        <mat-option value="Accomplished+ 6S">Accomplished+ 6S Dark (Diesel AT)</mat-option>
                        <mat-option value="Empowered+ LR">Empowered+ LR (40.5 kWh EV)</mat-option>
                    </mat-select>

                </div>
            </div>
            <!-- <div class="form-group">
                <label class="control-label col-sm-4 add-member-label">Interior Trim: </label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <mat-select class="form-control" placeholder="Select Interior Trim" required>
                        <mat-option [value]="0">High</mat-option>
                        <mat-option [value]="1">Medium</mat-option>
                        <mat-option [value]="2">Low</mat-option>
                    </mat-select>
                </div>
            </div> -->
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label col-sm-4 add-member-label">Color: </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <mat-select class="form-control" placeholder="Select Color" required>
                            <mat-option value="Attitude Black Mica">Attitude Black Mica</mat-option>
                            <mat-option value="Platinum White Pearl">Platinum White Pearl</mat-option>
                            <mat-option value="Ranger Khaki">Ranger Khaki</mat-option>
                            <mat-option value="Abyss Black">Abyss Black</mat-option>
                            <mat-option value="Daytona Grey EV">Daytona Grey EV</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 add-member-label">Transmission: </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <mat-select class="form-control" placeholder="Select Transmission" required>
                            <mat-option value="6-Speed AT">6-Speed Torque Converter AT</mat-option>
                            <mat-option value="7-Speed DCT">7-Speed Dual-Clutch (DCT)</mat-option>
                            <mat-option value="e-CVT">Electronic CVT (e-CVT)</mat-option>
                            <mat-option value="6-Speed iMT">6-Speed Intelligent Manual (iMT)</mat-option>
                            <mat-option value="Single-Speed EV">Single-Speed Reduction EV</mat-option>
                            <mat-option value="6-Speed AWD">6-Speed AWD with Lock</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 add-member-label">Fuel Type: </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <mat-select class="form-control" placeholder="Select Fuel Type" required>
                            <mat-option value="Diesel BS-VI">Diesel BS-VI (SCR AdBlue)</mat-option>
                            <mat-option value="Petrol TGDi">Petrol Turbo (TGDi)</mat-option>
                            <mat-option value="Strong Hybrid">Strong Hybrid (SHEV)</mat-option>
                            <mat-option value="BEV Electric">Battery Electric (BEV 400V)</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 add-member-label">Date: </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input type="date" class="form-control" placeholder="Select Date ">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 add-member-label">Stage Name: </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <mat-select class="form-control" placeholder="Select Stage Name">
                            <mat-option value="BIW">Body-in-White & Framing (BIW)</mat-option>
                            <mat-option value="CED">Cathodic Electrodeposition (CED Paint)</mat-option>
                            <mat-option value="DOC">Powertrain Docking & Marriage</mat-option>
                            <mat-option value="TCF">Trim, Chassis & Final Assembly (TCF)</mat-option>
                            <mat-option value="CAL">Wheel Alignment & ADAS Calibration</mat-option>
                            <mat-option value="RLR">Chassis Dyno & Roller Brake Test</mat-option>
                            <mat-option value="SHW">Monsoon Shower & Water Ingress</mat-option>
                            <mat-option value="PDI">Pre-Delivery Inspection (PDI)</mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<mat-dialog-actions align="end" style="margin-bottom: -16px;">
    <button mat-raised-button class="ms-2" (click)="close()"
      style="background-color: lightgray; color: red;margin-right: 11px;">
      <mat-icon>cancel</mat-icon>
      Close
    </button>
    <button type="button" class="btn btn-outline-success" style="margin-right: 10px; height: 41px;">Save Draft</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="'test'">
        <mat-icon>save</mat-icon><span>{{data ? 'Update' : 'Submit'}}</span>
    </button>
     
</mat-dialog-actions>
