<div class="NewHeader">
  <h1 mat-dialog-title>Assign Models to Modules</h1>
</div>
<div mat-dialog-content style="overflow:hidden!important;">
  <form class="form-horizontal" novalidate style="margin-top:10px">
    <div style="margin-bottom: 10px;"><mat-checkbox class="col-sm-6">Mahindra BE 6</mat-checkbox></div>
    <div style="margin-bottom: 10px;"><mat-checkbox class="col-sm-6">Mahindra XUV400 EV</mat-checkbox></div>
    <div style="margin-bottom: 10px;"><mat-checkbox class="col-sm-6">Mahindra Bolero Neo</mat-checkbox></div>
    <div style="margin-bottom: 10px;"><mat-checkbox class="col-sm-6">Mahindra Bolero</mat-checkbox></div>
    <div style="margin-bottom: 10px;"><mat-checkbox class="col-sm-6">Mahindra XUV 3XO</mat-checkbox></div>
    <div style="margin-bottom: 10px;"><mat-checkbox class="col-sm-6">Mahindra Thar</mat-checkbox></div>
    <div style="margin-bottom: 10px;"><mat-checkbox class="col-sm-6">Mahindra Scorpio-N</mat-checkbox></div>
    <div style="margin-bottom: 10px;"><mat-checkbox class="col-sm-6">Mahindra XUV700</mat-checkbox></div>
  </form>
</div>


<mat-dialog-actions align="end" style="margin-top: 10px;">
  <button mat-raised-button color="primary" (click)="close()">
    <mat-icon>save</mat-icon>Save
  </button>
  <button mat-raised-button class="CancelClass" (click)="close()">
    <mat-icon>cancel</mat-icon>Cancel
  </button>
</mat-dialog-actions>