<div class="container-fluid">
  <div class="w-80">
    <div class="flex-p">
      <div class="row wrap">
        <div class="col-sm-12">
          <div class="row-wrap">
            <div class="w-80">
              <div class="col-xs-12">
                <div class="pills">
                  <ul class="nav nav-pills">
                    <li routerLinkActive="active" routerLink="par-auditlog">
                      <a mat-raised-button class="navtabWidth">
                        Issue Log
                      </a>
                    </li>
                    <li routerLinkActive="active" routerLink="metricpara">
                      <a mat-raised-button class="navtabWidth">
                        Metrics
                      </a>
                    </li>
                    <li routerLinkActive="active" routerLink="notes-par">
                      <a mat-raised-button class="navtabWidth">
                        Notes
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12 no-padding">
  <router-outlet></router-outlet>
</div>